* {
    font-family: 'Outfit', sans-serif;
}


body {
    background: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 11em;
}

.qr-container {
    background: hsl(0, 0%, 100%);
    padding: 1em 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 22em;
    border-radius: 1em;
    box-shadow: 0 30px 20px hsl(212, 34%, 85%);
    text-align: center;
}

.qr-group {
    padding: 18px;
}

.qr-title {
    font-size: 25px;
}

.qr-p {
    font-size: 17px;
}

.qr-img {
    border-radius: 1em;
}